[programs]
4685 : melis
4686 : ucsc
4687 : ucsc
4688 : ucsc
4689 : apf
4690 : ucsc
4691 : ucb
4692 : ucb
4693 : ucsc
4694 : ucb
4695 : ucsc
4696 : ucb
4697 : ucsc
4701 : welsh
4698 : ucb
4699 : ucb


[ucsc]
observer: Brad Holden
Phone : 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py 
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/sr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -p Init --sheet %s
args : name obsnum sheets
name : ucsc 
obsnum : ucsc
owner : Vogt
starlist :
sheets : "Bstars,A020_SVogt_2019A,A017_ICzekala_2019A,A018_ICzekala_2019A,A005_PRobertson_2019A,A000_BHolden_2019A,A006_BHolden_2019A,A015_TBrandt_2019A"
calib : 
user : 10278

[ucb]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /local/u/user/bjscripts/lib/python:/local/u/user/bjscripts/apf:/local/u/user/.local/lib/python2.6/site-packages:/opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/user/bjscripts/apf:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
argstr : -n %s -o %s -c ucb -p Init --sheet %s
args : name obsnum sheets
name : ucb
obsnum : 100
owner : Howard
starlist :
sheets : "Bstars,A009_CDressing_2019A,A010_HIsaacson_2019A,A011_SKane_2019A,A012_MKosiarek_2019A,A019_AHoward_2019A,A021_ASiemion_2019A"
calib :
user : 10278

[apf]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /local/u/user/bjscripts/lib/python:/local/u/user/bjscripts/apf:/local/u/user/.local/lib/python2.6/site-packages:/opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/user/bjscripts/apf:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
argstr : -n %s -o %s -c uco -p Init --sheet %s
args : name obsnum sheets
name : apf
obsnum : apf
owner : Holden
starlist :
sheets : "Bstars,A003_PRobertson_2019B,A006_PDalba_2019B,A007_HIsaacson_2019B,A009_MKosiarek_2019B,A011_SKane_2019B,A012_SKane_2019B,A015_AHoward_2019B,A013_ASiemion_2019B,A000_BWelsh_2019B,A001_ICzekala_2019B,A002_ICzekala_2019B,A004_PRobertson_2019B,A007_HIsaacson_2019B,A008_BHolden_2019B,A014_SVogt_2019B,A015_TBrandt_2019B"
calib : ucsc
user : 10278


[melis]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -p Init --sheet %s
args : name obsnum starlist sheets
name : ucsc
owner : melis
obsnum : ucsc
starlist :  /u/holden/starlists/A010_melis_20180607.lst
sheets : "Bstars,A020_SVogt_2019A,A017_ICzekala_2019A,A018_ICzekala_2019A,A005_PRobertson_2019A,A015_TBrandt_2019A,A000_BHolden_2019A"
calib :  
user : 10278


[welsh]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr : -n %s -o %s -p Init --sheet %s
args : name obsnum sheets
name : ucsc
obsnum : ucsc
owner : Welsh
starlist :
sheets : "Bstars,A004_BWelsh_2019A,A005_PRobertson_2019A"
calib :  
user : 10278

    
[engineering]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -c %s
args : name obsnum starlist calib
name : holden
owner: Holden
obsnum : 10000
starlist : test_starlist.lst
calib :  ucsc
user : 10278
