[programs]
4186 : holiday
4721 : apf
4763 : apf
4764 : apf
4765 : apf
4766 : apf
4767 : apf
4768 : apf
4769 : apf
4770 : apf
4771 : apf
4772 : apf
4773 : apf
4774 : apf
4775 : apf
4776 : apf
4777 : apf

4851 : apf
4852 : apf
4853 : apf
4854 : apf
4855 : apf
4856 : apf
4832 : apf
4833 : apf
4857 : apf
4834 : apf
4858 : apf
4835 : apf
4836 : apf



[holiday]
observer: Brad Holden
Phone : 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/fake_master.py 
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/sr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  
args : 
name : 
obsnum : 
owner : 
starlist :
sheets :
rank_table : "2020A_ranks"
calib : 
user : 10278

[ucsc]
observer: Brad Holden
Phone : 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py 
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/sr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s --sheet %s
args : name obsnum sheets
name : ucsc 
obsnum : ucsc
owner : Vogt
starlist :
sheets : ""
rank_table : "2020A_ranks"
calib : 
user : 10278

[ucb]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /local/u/user/bjscripts/lib/python:/local/u/user/bjscripts/apf:/local/u/user/.local/lib/python2.6/site-packages:/opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/user/bjscripts/apf:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
argstr : -n %s -o %s -c ucb --sheet %s
args : name obsnum sheets
name : ucb
obsnum : 100
owner : Howard
starlist :
sheets : ""
rank_table : "2020A_ranks"
calib :
user : 10278

[apf]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/sr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
argstr : -n %s -o %s -c uco --sheet %s --rank_table %s
args : name obsnum sheets rank_table
name : apf
obsnum : apf
owner : public
starlist :
sheets : "RECUR_A100,2020A_A000,2020A_A001,2020A_A002,2020A_A003,2020A_A004,2020A_A005,2020A_A006,2020A_A008,2020A_A009,2020A_A011,2020A_A012,2020A_A013"
rank_table : "2020A_ranks"
calib : uco
user : 10278


    
