[programs]
4606 : ucb
4607 : ucsc
4608 : ucb
4611 : ucsc
4612 : ucsc
4613 : ucb
4614 : ucsc
4615 : ucsc
4616 : ucb
4617 : ucb
4618 : ucsc
4619 : ucsc


[ucsc]
observer: Brad Holden
Phone : 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py 
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/sr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -p Focus --sheet 2018B 
args : name obsnum
name : ucsc 
obsnum : ucsc
owner : Vogt
starlist : 
calib : 
user : 10278

[ucb]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
path : /u/user/bjscripts/apf/cron/
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /local/u/user/bjscripts/lib/python:/local/u/user/bjscripts/apf:/local/u/user/.local/lib/python2.6/site-packages:/opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/user/bjscripts/apf:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages
executable : /u/user/bjscripts/apf/cron/cronobserve.sh
argstr :
args : 
name : ucb
obsnum : 
owner : Howard
starlist : 
calib :
user : 10009

[liu]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -c %s -p Cal-Pre -b 2
args : name obsnum starlist calib
name : liu
owner : Liu
obsnum : 10000
starlist :  /u/holden/starlists/A020_liu_20160621.lst
calib :  /u/holden/calibration_scripts/liu
user : 10278

[li]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -c %s -p Focus
args : name obsnum starlist calib
name : li
owner : Li
obsnum : 10000
starlist :  /u/holden/starlists/A015_li_20161019.lst
calib :  /u/holden/calibration_scripts/li
user : 10278

[melis]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -p Focus
args : name obsnum starlist 
name : ucsc
owner : melis
obsnum : ucsc
starlist :  /u/holden/starlists/A010_melis_20180607.lst
calib :  
user : 10278

    
[rockosi]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -c %s -p Focus
args : name obsnum starlist calib
name : rockosi
owner : Rockosi
obsnum : 10000
starlist :  /u/holden/starlists/A013_crockosi_20170701.lst
calib :  /u/holden/calibration_scripts/rockosi
user : 10278

[zuckerman]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -c %s -p Focus
args : name obsnum starlist calib
name : zuckerman
owner : Zuckerman
obsnum : 10000
starlist :  /u/holden/starlists/A015_zuckerman_20151014.lst
calib :  /u/holden/calibration_scripts/zuckerman
user : 10278

[gregg]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -c %s -p Focus -s
args : name obsnum starlist calib
name : gregg
owner : Gregg
obsnum : 10000
starlist :  /u/holden/starlists/A011_gregg_20160118.lst
calib :  /u/holden/calibration_scripts/gregg
user : 10278

[guhathakurta]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -c %s -p Cal-Pre -s
args : name obsnum starlist calib
name : guhathakurta
owner : Guhathakurta
obsnum : 10000
starlist :  /u/holden/starlists/A003_guhathakurta_20160215.lst
calib :  /u/holden/calibration_scripts/guhathakurta
user : 10278

[welsh]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/Heimdallr.py
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -c %s -p Focus -s
args : name obsnum starlist calib
name : welsh
obsnum : 30000
starlist :  /u/holden/starlists/A006_welsh_20151023.lst
calib :  /u/holden/calibration_scripts/welsh
user : 10278

    
[engineering]
observer: Brad Holden
Phone : 9-3387 / 831-421-1210
Email : holden@ucolick.org
Locat : Office / Home
executable : /u/holden/src/UCSCmaster/master/
path : /u/holden/src/UCSCmaster/master
pathvar : /bin:/usr/local/bin:/usr/bin:/sbin:/usr/sbin:/opt/kroot/bin:/usr/local/lick/bin/robot:/usr/local/lick/bin:/opt/ds9/bin:/opt/eos/shortcuts:/opt/idl/bin
pythonpathvar : /opt/kroot/rel/default/lib/python:/opt/kroot/rel/default/lib:/usr/local/lick/lib/python:/usr/local/lick/lib:/u/holden/src/UCSCmaster/master:/usr/lib/python2.6/:/usr/lib/python2.6/site_packages:/local/u/holden/.local/lib/python2.6/site-packages
argstr :  -n %s -o %s -f %s -c %s
args : name obsnum starlist calib
name : holden
owner: Holden
obsnum : 10000
starlist : test_starlist.lst
calib :  ucsc
user : 10278
